<div class="border rounded shadow">
  <h2 class="bg-gray-200 p-2 font-semibold">Engenheiros</h2>
  <table class="w-full table-auto">
    <thead class="bg-gray-100">
      <tr>
        <th class="p-2 text-left">Nome</th>
        <th class="p-2 text-left">Carga Máxima</th>
        <th class="p-2 text-left">Eficiência</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let e of engineers" class="border-t">
        <td class="p-2">{{ e.name }}</td>
        <td class="p-2">{{ e.max_hours }}h</td>
        <td class="p-2">{{ (e.eficiency * 100) | number:'1.0-0' }}%</td>
      </tr>
    </tbody>
  </table>
</div>